@use "imports";

:root {
  --bulma-primary: #2c6c5c;
  --bulma-family-primary: "Nunito Sans", sans-serif;
}

a {
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.65s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
